<template name="Index">
  <div class="container">
    <div class="starter-template">
      <h1>Get Youtube channels and playlists as podcast rss feed</h1>
      <p class="lead">Please enter a Url to a playlist or channel in the textbox below</p>
      <form id="podcastForm">
        <div class="input-group">
  	      <input type="url" class="form-control" name="link" placeholder="paste a link to a youtube channel or playlist here" required="required">
  	      <span class="input-group-btn">
  	      	<button class="btn btn-default" type="submit">Get the feed!</button>
  	      </span>
        </div>
      </form>
    </div>
  </div>
</template>
